* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --font-18: 17px;
}
/* Header Section */
header {
    background-color: #1BBC9B;
    height: 14vh;
    padding-top: 5vh;
    font-size: var(--font-18);
    text-transform: uppercase;
}
.header-p {
    width: 10%;
    color: white;
}
header nav {
    width: 40%;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
footer a:hover , header a:hover {
    opacity: .4;
}
/* Footer Section */
footer {
    background-color: #2F2F2F;
    padding: 8vh 0;
    color: white;
}
footer .address li , footer .about-me li{
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #20755E;
    line-height: 1.5;
}
footer ul {
    list-style: none;
}
footer h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 200;
}
/* Main Section */
.bg {
    background-color: #F2F2F2;
}
.article-section .user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
.user-name{
    font-size: 14px;
    margin-left: 5px;
    color: rgb(110, 105, 105);
    text-transform: uppercase;
    display: inline-block;
}
.date {
    font-size: 14px;
    margin: 30px 0;
    color: rgb(206, 201, 201);
    text-transform: uppercase;
}
.article-section h4 {
    font-weight: 700;
    margin-bottom: 20px;
}
.article-section div p, .article-section blockquote, .article-section figcaption p{
    line-height: 1.6;
    color: rgb(44, 43, 43);
    margin-bottom: 20px;
}
.article-section a {
    text-decoration: none;
    color: #1fa181;
}
.article-section figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
/* Screen size from 350px to 699px */
@media (min-width: 350px) and (max-width: 699px) {
    /* Header Section */
    header section {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .nav-item a {
        text-decoration: none;
        color: white;
        margin-left: 25px;
    }
    /* Footer Section */
    footer section {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer .address, footer .links, footer .about-me {
        width: 100%;
        margin: 10px auto;
    }
    /* Main Section */
    .article-section {
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
    }
}
/* Screen size from 700px */
@media (min-width: 700px) {
    /* Header Section */
    header section {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .nav-item a {
        text-decoration: none;
        color: white;
        margin-left: 30px;
    }
    /* Footer Section */
    footer section {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    footer .address {
        width: 20%;
    }
    footer .links {
        width: 20%;
    }
    footer .about-me {
        width: 40%;
    }
    /* Main Section */
    .article-section {
        width: 50%;
        margin: 0 auto;
        padding: 40px 0 60px;
    }
}